.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.env
.idea
.nx
dist
dist-ssr
logs
node_modules
output
*.log
*.local
.DS_Store
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
lerna-debug.log*
npm-debug.log*
package-lock.json
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
