// -- some sort of reset -----------------------------------------------------

* {
  box-sizing: border-box;
}

body {
  line-height: 1;
}

p {
  margin: 0;
}

html {
  width: 100%;
  height: 100%;

  body {
    width: 100%;
    height: 100%;
    margin: 0;

    div#root {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
}

// ---------------------------------------------------------------------------
